@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'montserrat';
}

body {
  background-color: #f4f4f4;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #18172b;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;
  display: flex;
}

.header img {
  height: 80px;
  width: auto;
  margin-bottom: 0.5rem;
  margin-right: 500px;
}

.header-text h1 {
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
}

.header-text h4 {
  font-size: 1.2rem;
  opacity: 0.8;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-image: url(img/fundo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.input {
  width: 60%;
  border-radius: 10px;
  height: 50px;
}

.numpad {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 60%;
  height: 40%;
}

.numpad button {
  height: 50px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resposta {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

#cpf.sucesso {
  color: green;
  border-color: green;
}

#cpf.erro {
  color: red;
  border-color: red;
}

/* @media (max-width: 768px) {
  .header img {
    height: 60px;
  }

  .header-text h1 {
    font-size: 2rem;
  }

  .header-text h4 {
    font-size: 1rem;
  }

  .numpad button {
    height: 50px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
} */