@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  background-color: #f4f4f4;
  font-family: 'montserrat';
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* border: 1px solid red; */

}

.esquerda {
  height: 100vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(img/fundo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.input {
  width: 60%;
  border-radius: 10px;
  height: 50px;
}

.numpad {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 60%;
  height: 40%;
}

.numpad button {
  height: 50px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.direita {
  height: 100vh;
  width: 30%;
  background-color: #18172b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  color: white;
}

.direita h1 {
  font-size: 72px;
}

#img {
  width: 100%;
  height: 250px;
}

.resposta {
  margin-top: 50px;
}

#cpf.sucesso {
  color: green;
}

#cpf.erro {
  color: red;
}